# AWS Bedrock Configuration (Optional - runs in high-fidelity Demo Mode if not set)
AWS_REGION=ap-southeast-1
AWS_BEDROCK_REGION=ap-southeast-2
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_BEDROCK_MODEL_ID=anthropic.claude-3-haiku-20240307-v1:0
AWS_BEDROCK_KB_ID=CH3JGLS58S #Placeholder
CLOUDFLARE_API_TOKEN=unefwbfruyrbyufre
