# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/cache

# testing
/coverage
/scratch

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
*.html
Profile.pdf
Irfan_Portfolio_Library.docx
Irfan_Portfolio_Library.pdf
another_CV ATS Irfan_new.pdf

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# sst
.sst

# open-next
.open-next
